body {
  background-color: whitesmoke;
}

a {
  color: grey;
}

.section-header {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  border-bottom: white 1px solid;
}

.divider {
  border-bottom: grey 1px solid;
}

.techdomain {
  text-transform: capitalize;
}