.techdomain {
    font-size: 30px;
}

.proficiency-bar {
    background-color: cadetblue;
    color:whitesmoke
}

.proficiency-bar:hover {
    background-color: green;
}

.proficiency-bar-nil {
    background-color: lightgrey;
}