body {
  background-color: whitesmoke;
}

a {
  color: cadetblue
}

.section-header {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  margin-top: 80px;
  margin-bottom: 20px;
}

.divider {
  border-bottom: grey 1px solid;
}

.techdomain {
  text-transform: capitalize;
  text-align: center;
}

/* This bottom margins ensures the resume will
 print with a solid colors background for 2 pages*/
.very-bottom-margin {
  margin-bottom: 0px;
}

/* For Certification text center, probably a better way to do this */
.place-content-center {
  place-content: center;
}